<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CalculationServlet</servlet-name>
        <servlet-class>controller.CalculationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculationServlet</servlet-name>
        <url-pattern>/calculation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>controller.BillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>controller.ContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/contract</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailBillServlet</servlet-name>
        <servlet-class>controller.DetailBillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailBillServlet</servlet-name>
        <url-pattern>/detailbill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InformationServlet</servlet-name>
        <servlet-class>controller.InformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InformationServlet</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoanServlet</servlet-name>
        <servlet-class>controller.LoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoanServlet</servlet-name>
        <url-pattern>/loan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoanSuccessServlet</servlet-name>
        <servlet-class>controller.LoanSuccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoanSuccessServlet</servlet-name>
        <url-pattern>/loansuccess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterSuccessServlet</servlet-name>
        <servlet-class>controller.RegisterSuccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterSuccessServlet</servlet-name>
        <url-pattern>/registersuccess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
